:host {
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .movie-form {
      display: flex;
      flex-direction: column;
      align-items: center;

      .mat-form-field {
        margin-top: 8px;
        margin-bottom: 16px;
      }

      .error-message {
        color: red;
        margin-top: 4px;
      }
    }
  }

  .dialog-button-row {
    display: flex;
    justify-content: flex-end;
  }

  .dialog-button {
    margin-left: 8px;
  }
}
